<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="QLNS"
            sequence="0"/>
          
        <menuitem name="Quản lý nhân viên" 
            id="menu_nhan_vien" 
            parent="menu_root" 
            sequence="1"
            action="action_nhan_vien"
        />
        
        <menuitem name="Chấm công" 
            id="menu_cham_cong" 
            parent="menu_root" 
            sequence="2"
            action="action_cham_cong"
        />
        
        <menuitem name="Bảng lương" 
            id="menu_bang_luong" 
            parent="menu_root" 
            sequence="3"
            action="action_bang_luong"
        />
    </data>
</odoo>
